*{
    margin: 0;
    padding: 0;
}
header{
    border-bottom: 1px solid rgb(230, 230, 230);
}
.header_part{

width: 90%;

margin-left: 5%;

overflow: hidden;

margin-top: 10px;

margin-bottom: 10px;

/* border-bottom: 1px solid #d4d4d4; */
}
.logo{

width: 20%;

float: left;
}
nav{

width: 50%;

float: right;

overflow: hidden;
}
nav ul{

list-style: none;

overflow: hidden;

float: right;
}
nav ul li{

float: left;

margin-left: 30px;
}
nav ul li a{

text-decoration: none;

font-size: 19px;

text-transform: capitalize;

color: black;
}
.content_section{

width: 70%;

margin-left: 15%;
}
.content_section h1{

text-align: center;

font-size: 47px;

color: #0F2656;

margin-top: 30px;
}
.content_section h2{

font-size: 45px;

color: #008AFF;

margin-top: 15px;

text-align: center;
}
.content_section p{

color: #0F2656;

text-align: center;

margin: 20px 0px;
}

.img{

text-align: center;
}
.img img{

width: 65%;
}
.project_content{

overflow: hidden;
}
.left_content{

width: 49%;

float: left;
}
.left_content h1{

color: #F2606F;

text-align: right;
}
.left_content p{

text-align: right;
}
.right_content{

width: 47%;

float: right;
}
.right_content h1{

text-align: left;
}
.service{

width: 90%;

margin-top: 70px;

margin-left: 5%;

margin-bottom: 50px;

overflow: hidden;
}
.service_one{

width: 30%;

background: #FDEBED;

float: left;

text-align: center;

padding: 30px 0px;
}
.service_one img{

width: 90%;

/* text-align: center; */

/* padding-top: 30px; */
}
.service_one h2{

text-align: left;

padding: 10px;
}
.service_one p{

text-align: left;

padding: 10px;
}
.service_two{

width: 30%;

background: #EBF9F4;

float: left;

margin-left: 5%;

text-align: center;

padding: 30px 0px;
}
.service_two img{

width: 77%;
}
.service_two h2{

text-align: left;

padding: 10px;
}
.service_two p{

text-align: left;

padding: 10px;
}
.service_three{

width: 30%;

background: #FFF7E8;

float: right;

text-align: center;

padding: 30px 0;
}
.service_three img{

width: 73%;
}
.service_three h2{

text-align: left;

padding: 10px;
} 
.service_three p{

text-align: left;

padding: 10px;
}
footer{

background-color: #008AFF;

text-align: center;

padding: 30px 0px;
}
footer p{

color: #e2e2e2;

font-size: 18px;
}
footer p span{
    
font-size: 20px;
    
color: white;
    
font-weight: 700;
}